<ul id="ddm">
	<li class="first"><%= link_to 'Dashboard', dashboard_path %></li>
	<li><%= link_to "Arachni", arachni_path %></li>
	<div id="menu-right">
	<li><%= link_to "Help", help_path %></li>
		<li class="last"><%= image_tag "core/logout-icon.png" %> <%= link_to "Logout",  destroy_user_session_path %></li>
		</li>
	</div>
</ul>