<ul id="ddm">
	<li class="first">
		<%= link_to 'Dashboard', dashboard_path %>
	</li>

	<li>
    <% ApplicationHelper.modules.each do |mod, engine| %>
		<%= link_to mod.title, '/' + engine.engine_name %>

		<ul data-menu="<%= engine.engine_name %>">
			<% mod.menu_items.each do |title, path| %>
			<li><%= link_to title, path %></li>
			<%end%>
		</ul>
	<%end%>
	</li>

	<div id="menu-right">
		<li>
			<%= link_to "Users", admin_users_path %>
		</li>
		<li>
			<%= link_to "Help", help_path %>
		</li>
		<li class="last">
			<%= image_tag "core/logout-icon.png" %> <%= link_to "Logout",  destroy_user_session_path, :method => :delete %>
		</li>
		</li>
	</div>
</ul>
