<ul id="ddm">
	<li class="first">
		<%= link_to 'Dashboard', dashboard_path %>
	</li>
	<div id="menu-right">
		<li>
			<%= link_to "Users", admin_users_path %>
		</li>
		<li>
			<%= link_to "Help", help_path %>
		</li>
		<li class="last">
			<%= image_tag "core/logout-icon.png" %> <%= link_to "Logout",  destroy_user_session_path, :method => :delete %>
		</li>
		</li>
	</div>
</ul>